@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg-color-body: hsl(0, 0%, 94%);
	--bg-color-card: hsl(0, 0%, 100%);
	--highlight-color: hsl(259, 100%, 65%);
	--DMY-color: hsla(0, 1%, 44%, .8);
	--input-border-color: hsla(0, 1%, 44%, .3);
	--radius-inputs: .5rem;
	--radius-card: 1.5rem 1.5rem 7rem 1.5rem;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color:black;
}

label,
input {
	display: block;
}

label {
	color: var(--DMY-color);
}

body {
	background-color: var(--bg-color-body);
}

.card {
	width: 93%;
	max-width: 60rem;
	background-color: var(--bg-color-card);
	margin: 5rem auto 0 auto;
	border-radius: var(--radius-card);
	padding: 3rem 1.5rem;
}

.card form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	column-gap: 3vw;
}

.card form div {
	width: 100%;
}

.card form label {
	font-size: .8rem;
	letter-spacing: .2rem;
	line-height: 1.5rem;
}

.card form input {
	width: 100%;
	height: 4rem;
	border: 1px solid var(--input-border-color);
	border-radius: var(--radius-inputs);
	font-size: clamp(.8rem, 5vw, 1.5rem);
	padding-left: clamp(.2rem, 3vw, 1rem);
	font-weight: 800;
}

.separator {
	position: relative;
	width: 100%;
	margin: 2rem auto;
}

.separator figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--highlight-color);
	margin: 0 auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
}

.separator hr {
	position: absolute;
	border: none;
	width: 100%;
	height: 1px;
	background-color: var(--input-border-color);
	top: 50%;
	z-index: 0;
}

.separator img {
	width: 30px;
}

.output {
	font-size: clamp(1rem, 14vw, 4rem);
	white-space: nowrap;
	font-weight: 800;
	font-style: italic;
	line-height: clamp(1rem, 15vw, 4.5rem);
}

.output span {
	font-size: clamp(1rem, 14vw, 4rem);
	color: var(--highlight-color);
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 1rem;
}

[class*="error-"] {
	font-size: .5rem;
	margin-top: 1em;
	color: red;
	font-weight: 400;
	font-style: italic;
	display: none;
	position: absolute;
}

[class*="day-"] {
	position: relative;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 775px) {

	.card {
		margin: 7% auto 0 auto;
	}

	.card form {
		width: 75%;
	}

	.card form label {
		font-size: 1.3rem;
	}

	.card form input {
		height: 5rem;
		font-size: 2rem;
	}

	.separator figure {
		margin: 0 0 0 auto;
	}

	.output {
		font-size: 6rem;
		line-height: 6.5rem;
	}

	.output span {
		font-size: 6rem;
	}
}